/** Header**/

header ul {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}

header ul li{
  margin: auto;
  list-style: none;
  font-size: 24px;
}

/** MAIN**/

body {
  font-family: 'Nunito', sans-serif;
  background-image: url('pictures/flag.jpg') ;
  background-color: rgba(80, 175, 80, 0.1);
  background-size: 400%;
  color: #E5DCC5;
}

.mainMenu {
  font-size: 15px;
  text-align: center;
  margin-top: 35%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.correctScreen {
  text-align: center;
  font-size: 23px;
 }

 .feedbackScreen {
  text-align: center;
  margin-top: 100px;
}

button {
  display: block;
  margin: auto;
  font-size: 30px;
  background-color: gray;
  color: #E5DCC5;
  background-color: rgba(80, 175, 80, 0.1);
}

.questiontxt {
  padding-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

label {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

/** DESKTOP VIEW **/
@media screen and (min-width: 800px) {
  header ul li{
    font-size: 25px;
  }

  .questiontxt {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  .mainMenu {
    margin-top: 15%;
  }

  body {
    background-size: 100%;
  }

  label {
    padding: 20px;
    font-size: 27px;
    text-align: center;
  }

  .feedbackScreen {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
  }

  .correctScreen {
    text-align: center;
    font-size: 30px;
   }
}
